body {
    font-family: 'Montserrat', sans-serif;
    background: #7f8360;
    color: white;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 1.25rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}



form button {
    color: #a2ab58;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #a2ab58;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 38%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
   
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
    
}

.trash-btn, .complete-btn {
    background: #636363;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #a2ab58;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.filter-todo {
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #636363;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #a2ab58;
    color: white;
}

.priority-dropdown {
    background: #d65353d5;
    color: white;
    cursor: pointer;
    width: auto;

}

.duedate-input {
    display: flex;
    align-items: center;
    background: rgb(140, 213, 235);
}

#select-project-h2 {
    display: flex;
    justify-content: center;
}

.s {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s::after {
    content: "\25BC";
    background: #636363;
    padding: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
    cursor: pointer;
}

.s:hover::after {
    background: #a2ab58;
    color: white;
}

.filter-projects {
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.project-menu {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-buttons {
    border: none;
	background-color:#4c5752;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 1%;
}
.myButton:hover {
	background-color:#5cbf2a;
}

